body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
    text-align: center;
    background-image: url(assets/img/etoiles.jpg);


}
#intro {
    position: absolute;
    width: 100%;
    top: 50%;
    color: rgb(75, 213, 238);
    font-size: 300%;
    animation: intro 100s ;

}
#logo{
    opacity: 0;
    transform: rotate3d(1,0,0,45deg);
    position: absolute;
    
}
#text{
    opacity: 0;
    font-size: 250%;
    margin-left: 25%;
    margin-right: 25%;
    transform: rotate3d(1,0,0,45deg);
    background-image: url(assets/img/etoiles.jpg);

}
@keyframes intro {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0.5;
    }
    3% {
        opacity: 1;
    }
    5% {
        opacity: 0.5;
    }
    6% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
    
}